<div class="container-fluid">
<div class="row-fluid">
  <div class="page-header">Accounts for {{username}}</div>
</div>

<button class="btn btn-default" ng-click="showNewAccountForm()">New Account</button>

<table class="table table-bordered table-striped table-hover">
<thead>
    <tr>
        <th>Account Name</th>
        <th>Owner</th>
        <th>Last Updated</th>
    </tr>
</thead>
<tbody>
<tr data-ng-repeat='account in accounts' class="accountRow">
    <td><a href='#/accounts/{{account.id}}'>{{account.name}}</a></td>
    <td>{{account.owner}}</td>
    <td>{{account.updated_at}}</td>
</tr>
</tbody>
</table>

<button class="btn btn-default" ng-click="showAccount()">Debug Account Id</button>
</div>

