<style>
.show-grid {
border: 1px solid #ccc;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
</style>
<div class="container-fluid">
	<div class="row-fluid">
	  <div class="page-header">Transactions for {{account.name}}</div>
	</div>
	<button class="btn btn-default" ng-click="showTransactionForm()">New Transaction</button>
	<div class="row" >
		<div class='show-grid col-md-4'>Payee</div>
		<div class='show-grid col-xs-1'>Cleared</div>
	    <div class='show-grid col-md-2 text-right'>Amount</div>
	    <div class='show-grid col-md-2 text-right'>Balance</div>
	</div>
	<div data-ng-repeat='transaction in transactions'>
		<div class="row">
			<div class='show-grid col-md-4'>
			<a href="" class="dropdown-toggle">{{transaction.payee}}</a>
			<ul class="dropdown-menu">
				<li>Show Transactions For Payee</li>
				<li><a href="" ng-click='deleteTransaction(transaction.id)'>Delete Transaction</a></li>
				<li>Edit Transaction</li>
			</ul>
			<a href="" ng-if='transaction.matches' ng-click='showDetails(transaction.id)'><span class="label label-success">Matches</span></a>

			</div>
	    	<div class='show-grid col-xs-1 text-right'>{{transaction.reconciled}}</div>
	    	<div class='show-grid col-md-2 text-right'>{{transaction.amount | currency}}</div>
	    	<div class='show-grid col-md-2 text-right'>{{transaction.balance | currency}}</div>
		</div>
		<div ng-if='showTransactionDetails == transaction.id' class="row">
			<div ng-repeat='match in transaction.matches'>
			<div class='show-grid col-md-4'>
			<a href="">{{match.payee}}</a>
			<a href="" ng-click='acceptMatch(transaction.id, match.id)'><span class="label label-success">Accept</span></a>
			</div>
	    	<div class='show-grid col-md-2 text-right'>{{match.amount | currency}}</div>
	    	<div class='show-grid col-md-2 text-right'>{{match.balance | currency}}</div>
			</div>
		</div>
	</div>
</div>


